*
!app
app/*
!app/code
!app/design
!app/etc
app/etc/*
!app/etc/config.php
!app/code/**
!app/design/**
!.gitignore
!composer.json
!composer.lock
!auth.json
!readme.md

# For SEO identification files
!pub
pub/*
!pub/google36fc361bd9d56cf6.html

# Ignore this committed file - server config requires "FollowSymLinks" to be commented out
pub/.htaccess
