*
!app
app/*
!app/code
!app/design
!app/etc
app/etc/*
!app/etc/config.php
!app/code/**
!app/design/**
!.gitignore
!composer.json
!composer.lock
!auth.json

# For SEO identification files
!pub
pub/*
!pub/google36fc361bd9d56cf6.html
