@font-face {
    font-family: 'snes_italic';
    src: url('@{baseDir}Magento_Theme/fonts/snes.eot') format('truetype');
    src: url('@{baseDir}Magento_Theme/fonts/snes.woff2') format('woff2'),
    url('@{baseDir}Magento_Theme/fonts/snes.woff') format('woff'),
    url('@{baseDir}Magento_Theme/fonts/snes.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'snes_italic', 'Open Sans', serif;
}

body {
    font-family: Arial, sans-serif;
    color: #303030;
    font-size: 14px;
    line-height: 1.7em;
}

.social-block {
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;

    &.twitter {
        background-image: url('@{baseDir}images/twitter.svg');
    }

    &.facebook {
        background-image: url('@{baseDir}images/facebook.svg');
    }

    &.instagram {
        background-image: url('@{baseDir}images/instagram.svg');
    }

    &.youtube {
        background-image: url('@{baseDir}images/youtube.svg');
    }
}
