@font-face {
    font-family: 'snes_italic';
    src: url('@{baseDir}Magento_Theme/fonts/snes.eot') format('truetype');
    src: url('@{baseDir}Magento_Theme/fonts/snes.woff2') format('woff2'),
    url('@{baseDir}Magento_Theme/fonts/snes.woff') format('woff'),
    url('@{baseDir}Magento_Theme/fonts/snes.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

h1,
h2,
h3,
h4,
h5,
h6,
.block-title {
    font-family: 'snes_italic', 'Open Sans', serif;
}

body {
    font-family: Arial, sans-serif;
    color: #303030;
    font-size: 14px;
    line-height: 1.7em;
}

.social-block {
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;

    &.twitter {
        background-image: url('@{baseDir}images/twitter.svg');
    }

    &.facebook {
        background-image: url('@{baseDir}images/facebook.svg');
    }

    &.instagram {
        background-image: url('@{baseDir}images/instagram.svg');
    }

    &.youtube {
        background-image: url('@{baseDir}images/youtube.svg');
    }
}

#new-defender {
    height: 480px;
    background-image: url('@{baseDir}images/new-defender.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin-top: 50px;
}

#pre-content {
    background-image: url('@{baseDir}images/faded-grid-bg.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: bottom center;


    #tiles-container {
        max-width: @layout__max-width;
        margin: 50px auto 0 auto;
        display: flex;

        .tiles {
            flex: 2 1 auto;

            &.left {
                width: 560px;
            }
        }
    }
}

#featured-products {
    margin-top: 35px;
}
