@icon-cart: '';

.user-links {
    .minicart-wrapper {
        .action.showcart {
            .lib-url('images/basket.svg', 'Magento_Checkout');
            background: url('@{url}') 50% 50% no-repeat;
            background-size: cover;
            min-width: 40px;
            min-height: 25px;
            height: 100%;
        }
    }
}
