@product-item__hover__box-shadow: none;

.product-item {
    .product-item-info {
        &:hover {
            border: none;
            padding: 10px;
        }

        .product-item-name {
            font-family: 'snes_italic', serif;
            font-size: 26px;
            text-align: center;
            margin-bottom: 25px;
        }

        .price-box {
            text-align: center;

            .price {
                font-weight: 300 !important;
                font-family: 'Roboto', serif;
            }
        }
    }
}
